#python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyo
*.pyc   
dist/
build/
.eggs/
*.egg-info/

#Virtual Environment
.venv/
venv/
ENV/
env/
.env
*.env
*.venv/
*.env/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/

# Django stuff:
*.log
db.sqlite3
**/db.sqlite3
media/
staticfiles/

