{%extends "base_generic.html"%}
{% load i18n %}

{% block content %}
    {%if author_list %}
    <ul>
        {% for author in author_list %}
            <li>
                <a href="{% url 'author-detail' author.id %}">{{ author.first_name }}{{author.last_name}}</a>
                <strong>({{ author.date_of_birth }} - {{ author.date_of_death }})</strong>

            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>{% trans "empty author list" %}</p> 
    {% endif %}
    
    <div>
        <a href="{% url 'author-create' %}" >
            {% trans "create new author" %}
        </a>
    </div>
{%endblock%}
